.chart
  width: 100%;
  .chart-item-wrapper
    width: 100%
    display flex
    justify-content flex-start
    margin-bottom 80px;
    &:last-child
      margin-bottom 0
    .chart-item
      width: 50%;
      height 500px


