.first-level{
  border-bottom: 1px solid #e9e9e9;
  padding-bottom:6px;
  margin-bottom:15px;
  .ivu-checkbox-disabled.ivu-checkbox-checked .ivu-checkbox-inner{
    background #2b85e4
    border-color #fff
    border-radius 3px

    &:after{
       border-color #fff
     }
  }
  &:last-child{
    border-bottom none
  }
  .second-level{
    margin-left 10px;
    margin-top 10px
    .third-level{
      margin-left 10px
    }
  }
}
