#organization{
  .search-wrapper{
    display: flex;
    justify-content: space-between;
    .add{
      height: 32px
    }
    .ivu-form-item{
      margin-right: 30px;
      &:last-child{
        margin-right 0
      }
    }
  }
  .ivu-table-expanded-cell{
    border:none;
    background #fff;
    .ivu-table-wrapper{
      border:none
    }
    .ivu-table::after{
      width: 0
    }

    .ivu-table-header{
      display :none
    }
  }
}
