.pagination{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.search-wrapper{
  display: flex;
  justify-content: space-between;
  .add{
    height: 2px
  }
  .ivu-form-item{
    margin-right: 10px;
    &:last-child{
      margin-right 0
    }
  }
}
.avatar-edit-display{
  width: 60px;
  height: 60px;
  line-height :60px
  font-size 35px;
  margin-top 10px
}
.ivu-page-options{
  position relative
}
.pagination-wrapper{
  position relative;

}
.ivu-page-options-sizer{
  margin-right 0
}
.status:hover{
  border-color none!important
}
tr{
  height:5px,
}
