
.ivu-btn.active,.ivu-btn:active{
  border-color :none!important
}
.ivu-btn:hover{
  border-color :none!important
}
.second-level-table
  border none
  margin-left 15px
  .ivu-table
    background #f8f8f9
    &:after
      width: 0!important
    &:before
      height 0
    td
      background #f8f8f9

