.commody-picker
  width: 600px
  height:450px
  position relative
  padding-bottom 40px
  .loading
    width: 30px
    height: 30px
    position absolute
    top:0
    left 0
    right 0
    bottom 0
    margin auto
  .page
    position absolute
    bottom -5px
    right 0
  .search-box
    display flex
    justify-content flex-end
    .input-box
      display flex
      justify-content flex-end

