.edit-stock-in-order
  .search-wrapper
    display: flex;
    justify-content: space-between;
    .right-option
      display flex
      justify-content flex-end
    .ivu-form-item
      margin-right: 30px;
      &:last-child
        margin-right 0




